.top {
  font-size: 10px;
  color: #f15922;
  display: block;
}
.picttp {
  text-align: center;
}
.card-badge {
  color: #f15922;
  border: 2px solid #f15922;
  font-size: 10px;
}
.imgcard {
  background-image: url("https://quant.network/assets/uploads/2022/09/Sibos-guide-mockup-2.jpg");
  height: 300px;
}
.cardonpic {
  border-radius: 5px 0px 0px 50px;
}
.card {
  border: none;
}
