
.first-heading{
    font-size: 70px;
}
.first-para{
     font-size: 21px;
     margin-bottom: 0px;
     padding-bottom: 0px;
}
.f-image{
    height: 540px;
    width: 550px;
    
}
.fourcomp{
    margin-top: 100px;
    margin-bottom: 100px;
}