
.hero-heading{
    color: #43403EFF;
}
.hero-head{
    font-size: 91px;
    display: inline-block;
}
.h-para{
    font-size: 80px;
    color: #e54633; 
    display: inline-block;
}

.hero-btn{
    margin-top: 20px;
}
button{
    border: 2px solid #f15922;
    background-color: white;
    border-radius: 0px 20px 0px 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 17px;
}
video{
    height: auto;
    width: 100%;
    border-radius: 100px 0px 0px 0px;
}
.hero-t{
    margin-top: 50px;
}


@media only screen and (max-width: 600px){
	.hero-head{
        font-size: 40px;
        display: inline-block;
    }
    .h-para{
        font-size: 32px;
       
        display: inline-block;
    }
}